*body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    flex-wrap: nowrap;
    

}
.img1{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    column-gap: 15px;
    
}
.img2{
    width: 320px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.img3{
    width: 320px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
      
}